body{
    margin: 0px;
    padding: 0px;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Arial,Helvetica, sans-serif;

}
.container{
    display: grid;
    padding-top: 40px;
    background-color: #121212;
    height: auto;
    width: 90vw;
    border-radius: 5px;
}
.small-con{
    display: flex;
    justify-content: space-around; 
}
.logo{
    background: linear-gradient(to right, #FA6E00,#E60026);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 6%;
}
.nav ul li{ 
    display: block;
    display: inline-flex;
    text-decoration: none;
    margin-left: 70px;
    cursor: pointer;
    font-size: 20px;
    color: #959595;
    transition: .5s;
}
.nav ul li:hover{
    color: #FD6F00;
}
.nav-for-phone-logo{
    display: none;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
}
.vector{
    flex-grow: 1;
    flex-basis: 200;
    background-image: url(./assets/icons/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    display: grid;
    width: auto;
    height: 600px;
}
#hi{
    font-size: 15px;
    color: #6c6a6a;
}
#name{
    font-size: 20px;
    color: #959595;
}
#role{
    font-size: 35px;
    background: linear-gradient(to left, #FA6E00,#E60026);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.info{
    height: 150px;
}
.links{
    display: flex;
}
.links ul li{
    display: inline-flex;
    cursor: pointer;
    margin-right: 25px;
    font-size: 40px;
    color: #959595;
    transition: .5s;
}
.links ul li:hover{
    color: #FD6F00;
}
.btn-contact-resume{
    display: flex;
    gap: 30px;
}
.btn-contact-resume button{
    display: flex;
    height: 40px;
    font-size: 19px;
    color: #959595;
    align-items: center;
    background: none;
    border: 2px solid #959595;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
    transition: .4s;
}
.btn-contact-resume a{
    text-decoration: none;
}
.btn-contact-resume button:hover{
    background: linear-gradient(to left, #FD6F00,#E46400);
    color: white;
    border: 2px solid #FD6F00;
}
.practice{
    background-color: #1c1b1b;
    width: 330px;
    height: 85px;
    gap: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#practice-links{
    font-size: 7px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease;
}
.practice:hover > :not(:hover) {
    filter: blur(5px);
    opacity: .5px;
}
#practice-links:hover{
    border: 2px solid #6e4322;
}
.practice button{
    background: none;
    border: none;
}
img{
    width: 30px;
    height: 30px;
}
.pop{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: #b5adad;
    opacity: 20px;
    transition: 4s;
}

.photo{
    display: grid;
    flex-grow: 1;
    flex-basis: 200;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 600px;
}
.circle{
    background-image: url(assets/images/myimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 600px;
    border : 2px solid #FD6F00;
}
.photo img{
    width: 500px;
    height: 550px;
}
@media only screen and (max-width: 810px){
    .nav ul li{
        display: none;
    }
    .main{
        gap: 0px;
        top: 0%;
    }
    .vector{
        text-align: center;
        justify-content: center;
    }
    .photo{
        text-align: center;
        justify-content: center;
        height: 400px;
    }
    .circle{
        width: 350px;
        height: 350px;
    }
    .nav-for-phone-logo{
        display: block;
        margin-top: 2.5%;
    }
    .nav-for-phone-logo a{
        text-decoration: none;
        color: #959595;
        font-size: 30px;
        transition: .5s;
    }
    .nav-for-phone-logo a:hover{
        color: #FD6F00;
    }

}